@page "/"
@using Plugin.Maui.Audio
@inject IAudioManager AudioManager

<div class="bg-black min-h-screen">
    <h1 class="mt-6 text-center text-white text-3xl font-serif">Aлфави́т / Alphabet</h1>

    <div>
        <div class="grid tall:grid-cols-5 wide:grid-cols-7 gap-1 p-2">
            @foreach (var letter in lettersUppercase)
            {
                <button @onclick="() => PlayAudio(letter)"
                        class="mt-4 bg-black text-white text-xl hover:font-bold font-serif py-2 px-4 rounded">
                    @letter
                </button>
            }
        </div>
    </div>
</div>


@code {

  private List<string> lettersUppercase = ["A", "Б", "В", "Г", "Д", "Е", "Ё", "Ж", "З", "И", "Й", "К", "Л", "М", "Н", "О", "П", "Р", "С", "Т", "У", "Ф", "Х", "Ц", "Ч", "Ш", "Щ", "Ъ", "Ы", "Ь", "Э", "Ю", "Я"];
  private List<string> lettersLowercase = ["a", "б", "в"];
  
  private async Task PlayAudio(string letter)
  {
      var file = await FileSystem.OpenAppPackageFileAsync($"wwwroot/sounds/{letter}.m4a");
      var audioPlayer = AudioManager.CreatePlayer(file);

      audioPlayer.Play();
  }

}